.logo {
  width: 250px;
}
#mc_embed_signup {
  background: none;
  clear:left;
  font:14px Helvetica,Arial,sans-serif;
  width:100%;
}
.signup {
  background: #e8760a;
  padding: 5px;
  border-radius: 4px;
  color: white;
  font-size: 0.9em;
  font-weight: 200;
}
